:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diff-add {
  background-color: rgba(72, 187, 120, 0.12);
}
.diff-del {
  background-color: rgba(245, 101, 101, 0.12);
}

.diff-add > span:first-child {
  color: #68d391;
}

.diff-del > span:first-child {
  color: #fc8181;
}

.diff-add .line-number:first-of-type,
.diff-keep .line-number:first-of-type {
  opacity: 0.4;
}

.diff-del .line-number:last-of-type,
.diff-keep .line-number:last-of-type {
  opacity: 0.4;
}

.diff-add .line-number:last-of-type {
  color: #68d391;
}

.diff-del .line-number:first-of-type {
  color: #fc8181;
}
