:root {
  --header-h: 72px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #23210f;
    --foreground: #23210f;
  }
}

body {
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diff-add {
  background-color: rgba(72, 187, 120, 0.12);
}
.diff-del {
  background-color: rgba(245, 101, 101, 0.12);
}

.diff-add > span:first-child {
  color: #68d391;
}

.diff-del > span:first-child {
  color: #fc8181;
}

.diff-add .line-number:first-of-type,
.diff-keep .line-number:first-of-type {
  opacity: 0.4;
}

.diff-del .line-number:last-of-type,
.diff-keep .line-number:last-of-type {
  opacity: 0.4;
}

.diff-add .line-number:last-of-type {
  color: #68d391;
}

.diff-del .line-number:first-of-type {
  color: #fc8181;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes fade-in {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }
}
